

html, body {
    font-family: 'Playfair';
    margin: 0;
    padding: 0;
    font-size: 16px;
    width: 100%;
    height: 100%;
    }
    .dude{
        position: relative;
        left: 20em;
        top: 10em;
    }
.center{
    
    width: 35em;
    left: 30em;
    position: relative;
        
    }
.text-orange{
    color: orange;
    border: 4px solid black;
    padding: 8px;
    position: relative;
    top: 1em;

}
a{
    float: right;
    padding: 1em;
}



.text-red{
    color: red;
    position: relative;
    font-size: 4em;
}


.text-uppercase{
    text-transform: uppercase;
    position: relative;
    font-size: 2em;
    font-weight: bold;
}


.about{
    background: rgb(230, 224, 224);
    height: 20em;
    
}

.right{
    float: right;
    padding: 1em;
    border: 2px solid black;
    width: 25em;
    height: 12em;
    background: white;
    position: relative;
    top: 1em;
    right: 2em;
    font-size: 20px;
    
    
    
}

.left{
    float: left;
    position: relative;
    top: 4em;
    left: 15em;
    
}
.box{
    float: left;
    width: 28em;
    margin: 1em;
    position: relative;
    left: 6em;
}

.boxes{
    float: left;
    Height: 20em;
    Width: 20em;
    padding: 1em;
    position: relative;
    top: 1em;


}

.underline{
    text-decoration: underline;
}

.about{
    height: 20em
}

@font-face{
    font-family: 'Playfair';
    src: url('assests/Font/PlayfairDisplay-Bold.woff') format('woff'),
    url('/Users/dustinpierson/Documents/Covalance/First Day/Labs/Lab1/Lab1 Assets/Font/Playfair Display 700.ttf') format('truetype'); 
}